# Required: The URL of the Git repository to pull
GIT_REPO_URL=https://github.com/DvdChe/git-pull-agent.git

# Optional: The interval in seconds between pulls (default: 60)
GIT_PULL_INTERVAL_SECONDS=60

# Optional: Authentication method (none, ssh, http-basic)
GIT_AUTH_METHOD=none

# Optional: The local path on the host where the repo will be synced
HOST_SYNC_PATH=./repo-sync

# Required if GIT_AUTH_METHOD=ssh
GIT_SSH_KEY_PATH=/root/.ssh/id_rsa
GIT_SSH_KEY_PASSPHRASE=
HOST_SSH_KEY_PATH=~/.ssh/id_rsa

# Required if GIT_AUTH_METHOD=http-basic
GIT_HTTP_USERNAME=your_username
GIT_HTTP_PASSWORD=your_password
